/* responsive YouTube & Vimeo video */
/* http://embedresponsively.com/ */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 1em;
}

.embed-container iframe, 
.embed-container object, 
.embed-container embed,
.embed-container canvas,
.embed-container .embed-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-overlay {
    display: table;
}

.embed-overlay .question {
    display: table-cell;
    vertical-align: middle;
    background-color: #eee;
    color: #333;
    text-align: center;
    opacity: 1;
    border: solid #ddd 1px;
    font-size: 48px;
}

#intro {
    height: 100vh;
    text-align: center;
    white-space: nowrap;
}

#intro .vimg {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#intro img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 100vh;
    max-width: 100%;
    cursor: pointer;
}

#end {
    height: 100vh;
    text-align: center;
    display: table;
}

#end #end-message {
    display: table-cell;
    vertical-align: middle;
}